.idea/
.settings/
.classpath
.project
/target/
/resources/edu/ucsd/sbrg/bigg/bigg.sqlite
lib.zip
/scripts/ModelPolisherTemplate.*
ModelPolisher.iml
jsbml.log
/.DS_Store
/minimalSysBio.xml
/model_polisher.log
