*.class
*.dump
.classpath
.gradle/
.idea/
.project
.settings/
/.DS_Store
/.vscode/
/bin
/build/
/minimalSysBio.xml
/model_polisher.log
/out
/src/main/resources/edu/ucsd/sbrg/example_models/output
/src/scripts/ModelPolisherTemplate.*
/src/test/resources/edu/ucsd/sbrg/bigg/e_coli_core.zip
/target/
ModelPolisher.iml
jsbml.log
src/main/resources/edu/ucsd/sbrg/identifiersOrgRegistry/IdentifiersOrg-Registry.json
/input/
/app/build/
/lib/build/
