.gradle/
.idea/
.settings/
.classpath
.project
/build/
/target/
src/main/resources/edu/ucsd/sbrg/miriam/IdentifiersOrg-Registry.json
/src/scripts/ModelPolisherTemplate.*
ModelPolisher.iml
jsbml.log
/.DS_Store
/minimalSysBio.xml
/model_polisher.log
/out
/src/main/resources/edu/ucsd/sbrg/example_models/output
/src/test/resources/edu/ucsd/sbrg/bigg/e_coli_core.zip
*.class
/bin
gradlew
gradlew.bat
/gradle/wrapper